---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import MenuSection from '../components/MenuSection.astro';
import Specials from '../components/Specials.astro';
import Location from '../components/Location.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Header />
  <main>
    <Hero />
    <Features />
    <MenuSection />
    <Testimonials />
    <Specials />
    <Location />
  </main>
  <Footer />
</Layout>